body {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 14px;
  line-height: 16px;
  color: black;
  font-weight: 400;

  background-color: white;
}

a {
  text-decoration: none;
}

::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
}